<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <ul id="log-container">
        </ul>
        <script>
        // Client-side Javascript in the HTML

        var targetContainer = document.getElementById("log-container");
        var eventSource = new EventSource("/subscribe");

        eventSource.onmessage=  function(e) {
            console.log(e);
            var newElement = document.createElement("li");

              newElement.innerHTML = "message: " + e.data;
              targetContainer.appendChild(newElement);

        };
        </script>
    </body>
</html>
