<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/components/epoch/dist/css/epoch.min.css') }}">
    </head>
    <body>
        <ul id="log-container">
        </ul>

        <div id="area" class="epoch category10" style="height: 200px;"></div>

        <script src="{{ url_for('static', filename='js/components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/components/d3/d3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/components/epoch/dist/js/epoch.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
